:root {
  --gris-claire: #f5f5f5;
  --gris-foncee: #222222;
  --noir: #000000;
  --blanc: #ffffff;
}

@media (max-width: 768px) {
  .spotify-embed { display: none; }
  .spotify-link { display: block; }
}
@media (min-width: 769px) {
  .spotify-embed { display: block; }
  .spotify-link { display: none; }
}

body {
    font-size: 1.25rem; /* ≈ 20px */
    background-color: var(--blanc);
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;

    /* à laisser */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


  .dark-mode {
    background-color: var(--noir);
    color: var(--blanc);
}

.header-banner, .footer-content{
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

/* Header */
.header-banner {
    min-height: 85px;
    background-image: url("../img/channel_banner.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}



/* Liens dans la nav */
.site-nav a {
  text-decoration: none;
  color: var(--gris-foncee);
}

.site-nav a:hover {
  text-decoration: underline;
}


/* Sidebar gauche */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw; /* largeur relative à l'écran */
  height: 100vh;
  display: block; /* visible en desktop */
  transition: all 0.3s ease;
  z-index: 998;
}

header.site-header.css-container {
  padding: 1rem !important;
}



/* Liens en colonne */
.site-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 50px; /* Ajoute de l'espace en haut des liens */
}

/* Décale le contenu du site */
body {
  margin-left: 10vw;
}

/* Le bouton hamburger */
.menu-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  font-size: 2rem;
  background: none;
  border: none;
  display: none; /* caché par défaut */
  cursor: pointer;
}


/* ---------- Responsive ---------- */
.site-nav a {
  font-size: 0.9rem; /* taille par défaut (desktop) */
}

@media (max-width: 767px) {
  .menu-toggle {
    display: block;
  }

  .site-header {
    display: none;
    position: fixed;
    width: 15vw;
    height: 100vh;
    padding-top: 13rem; /* espace pour le bouton */
    margin-left: 0;

    transform: translateX(-100%);
  }

  /* quand on appuie sur le hamburger ptn j'ai trop la dalle */
  .site-header.open {
    display: block;
    transform: translateX(0);

  }

  body {
    margin-left: 0;
  }

  .site-nav a {
    font-size: 0.6rem;
  }
}

/* Tablette : moins de 992px */
@media (max-width: 991px) {
  .site-nav a {
    font-size: 0.75rem;
  }
}

/* Grand écran : ≥ 1200px */
@media (min-width: 1200px) {
  .site-nav a {
    font-size: 1.1rem;
  }
}

/* Très grand écran : ≥ 1600px */
@media (min-width: 1600px) {
  .site-nav a {
    font-size: 1.5rem;
  }
}



/* Image de couverture */
.cover-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Titre de l'album */
.album-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gris-foncee);
  text-align: center;
  margin-top: 10px;
}



.toggle-theme {
    background: none;
    border:none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0);
  }

.toggle-theme img {
    width: 48px; /* plus petit */
    height: 48px; /* plus petit */
}

.toggle-theme-wrapper {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999; /* s'assure qu'il est au-dessus de tout */
}

.description {
  display: block; /* Assure que c'est un bloc */
  font-size: 0.875rem !important;
  text-align: justify !important;
}

.css-container{
    height: 100%;
    justify-content: center; /* facultatif : centrer verticalement le contenu */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--gris-claire);
    border-radius: 5px; /* bordure arrondie */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    gap: 1rem;
}
  
.css-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profil{
  align-items: center;
}

.image-profil {
    border-radius: 50%;
    width: 180px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); 
}

.titre-nom {
    font-family: chakra_bold;
    text-align: center;
    margin: 0;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); /* Ombre pour profondeur */
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



 .titre {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: chakra_bold;
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .social-button {
    display: block;
    padding: 0.75rem 1rem;
    background-color: var(--blanc);
    color: var(--gris-foncee);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .social-button:hover {
    background-color: var(--gris-foncee);
    color: var(--blanc);
  }
  
  .dark-mode .social-button 
  {
    background-color: var(--noir);
    color: var(--blanc);
  }

  .dark-mode .social-button:hover {
    color: var(--gris-foncee);
    background-color: var(--blanc);
  }





/* dark-mod */

.dark-mode .css-container,
.dark-mode .footer-content
{
  background-color: var(--gris-foncee);
}

.dark-mode .footer-content,
.dark-mode .album-title
{
  color: var(--blanc);
}


.dark-mode .site-nav a {
  color: var(--gris-claire);
}

/* En dark-mode : on change le fond avec un gradient transparent vers noir */
.dark-mode .header-banner {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
}


/* footer */
.footer-content {
    font-size: 1rem;
    margin: 0 auto; /* Centre le footer horizontalement */
}
  
.footer-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  

/* Piano 
.piano {
  display: flex;
  gap: 0.5rem;
}

.piano button {
  background: white;
  border: 1px solid black;
  width: 60px;
  height: 200px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.piano button:active {
  background: lightgray;
}