<!-- header piano -->
<header class="header-banner container mt-4">
</header>

<!-- header pages -->

<button class="menu-toggle" aria-label="Ouvrir le menu">☰</button>

<header class="site-header css-container mt-4">
    <nav class="site-nav" id="nav">
      <a href="/index.html">Accueil</a>
      <a href="/covers.html">Couvertures d’album</a>
    </nav>
</header>

<div class=" toggle-theme-wrapper">
  <button class="toggle-theme" id="toggle-theme">
    <img src="img/dark-mod.svg" alt="Changer le mode">
  </button>
</div>