<head><link rel="stylesheet" href="piano.css"></head>

<div class="container">
    <div class="css-container">
      <div class="piano-header">
        <h2 class="">Piano jouable</h2>
        <div class="column volume-slider">
          <span>Volume</span>
          <input type="range" min="0" max="1" value="0.3" step="any">
        </div>
        <div class="column keys-checkbox">
          <span>Montrer les touches</span><input type="checkbox">
        </div>
      </div>

      <ul class="piano-keys">
        <li class="key white" data-key="C3"><span>C3</span></li>
        <li class="key black" data-key="C3#"><span>C3#</span></li>
        <li class="key white" data-key="D3"><span>D3</span></li>
        <li class="key black" data-key="D3#"><span>D3#</span></li>
        <li class="key white" data-key="E3"><span>E3</span></li>
        <li class="key white" data-key="F3"><span>F3</span></li>
        <li class="key black" data-key="F3#"><span>F3#</span></li>
        <li class="key white" data-key="G3"><span>G3</span></li>
        <li class="key black" data-key="G3#"><span>G3#</span></li>
        <li class="key white" data-key="A3"><span>A3</span></li>
        <li class="key black" data-key="A3#"><span>A3#</span></li>
        <li class="key white" data-key="B3"><span>B3</span></li>
        <li class="key white" data-key="C4"><span>C4</span></li>
        <li class="key black" data-key="C4#"><span>C4#</span></li>
        <li class="key white" data-key="D4"><span>D4</span></li>
        <li class="key black" data-key="D4#"><span>D4#</span></li>
        <li class="key white" data-key="E4"><span>E4</span></li>
        <li class="key white" data-key="F4"><span>F4</span></li>
        <li class="key black" data-key="F4#"><span>F4#</span></li>
        <li class="key white" data-key="G4"><span>G4</span></li>
        <li class="key black" data-key="G4#"><span>G4#</span></li>
        <li class="key white" data-key="A4"><span>A4</span></li>
        <li class="key black" data-key="A4#"><span>A4#</span></li>
        <li class="key white" data-key="B4"><span>B4</span></li>
        <li class="key white" data-key="C5"><span>C5</span></li>
      </ul>
    </div>
  </div>